[submodule "reference/git-sub-module"]
	path = reference/git-sub-module
	url = git@github.com:Jinxuan-Oolong/git-sub-module.git
[submodule "ref/git-sub-module"]
	path = ref/git-sub-module
	url = git@github2.com:Jinxuan-Oolong/git-sub-module.git
